#!/bin/rc -e
# Copyright 2012 The Go Authors. All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

rfork e

if(! test -f ../bin/go){
	echo 'run.rc must be run from $GOROOT/src after installing cmd/go' >[1=2]
	exit wrongdir
}

GOENV=off
eval `{../bin/go tool dist env}

GOPATH=/nonexist-gopath
exec ../bin/go tool dist test -rebuild $*
{
  // Use IntelliSense to learn about possible attributes.
  // Hover to view descriptions of existing attributes.
  // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Launch Program",
      "program": "${workspaceFolder}/app.js",
      "request": "launch",
      "skipFiles": ["<node_internals>/**"],
      "type": "node"
    },
    {
      "name": "Launch Package",
      "type": "go",
      "request": "launch",
      "mode": "auto",
      "program": "${fileDirname}"
    }
  ]
}
https://cs.opensource.google/go/go/+/refs/tags/go1.25.1:src/text/scanner/scanner.go